// 상단 네비 폰트 font-family: 'Dai Banna SIL', serif;
@import url('https://fonts.googleapis.com/css2?family=Dai+Banna+SIL:wght@400;600;700&display=swap');
// 본문 폰트 font-family: 'Hahmlet', serif;
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;300;400;500;600;700;800&display=swap');


// 공통 클래스
// 이너 작업 정리시 색 투명하게
.inner{width: 65%; margin: 0 auto;  }

.changeWhite {
   background-color: rgba(255, 255, 255, .95); border-bottom: 1px solid rgba(114, 112, 112, 0.2);
}
.invert {filter: invert(1);}
.flexCenter {display: flex; justify-content: center; align-items: center;}
.originPosition{transform: translateY(0px) translateX(0px) scale(1) !important;}
.transPosition{transform: translateY(500px) scale(.5); transition: .5s;}
.originOpacity{opacity: 1 !important;}
.transOpacity{opacity: 0; transition: .7s;}


h1{font-size: 35px; letter-spacing: -2px; font-family: 'Dai Banna SIL', serif;}
span{font-size: 14px; color: rgb(30, 41, 41); }
a{transition: .1s ease-in-out;}
// 영문 폰트 사이즈 조정
.en{font-family: 'Dai Banna SIL'; font-size: 22px; letter-spacing: .8px;}



// 컬러 팔레트
$mainColor : #19660a ;
$gray: #333 ;
$border : rgba(114, 112, 112, 0.2) ;


// 스크롤바 설정
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-thumb{background-color: #488154;}
::-webkit-scrollbar-track {background-color: #f1f1f1;}


// ─────────────── CSS 시작 ─────────────── 전역 폰트사이즈 ───────────────
body{font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
   font-size: 20px; line-height: 2; letter-spacing: -1.5px;
   background: rgb(254, 253, 252);}



#Nav{
   z-index: 10; transition: 1.2s;
   font-family: 'Dai Banna SIL', serif; 
   h1{// 로고 logo
      font-size: 30px;
      a{justify-content: center;
         img{transition: 1.8s;}
      }
   }
   ul{// 네비 nav
      >li{
         >a{
            color: black; font-size: 28px;
            &:hover{color:$mainColor;}
         }
      }
   }
}

// ─────────────── routes 1 ───────────────
#Main{
   .videoBox{
      width: 100vw; height: 100vh;
      video{width: 100%; height: 100%;}
   }
   .brandIntro{
      padding: 100px 0; 
      color: white; text-align: center; 
      background-color: #1b201d73 ; background-image: url(../src/img/brandIntro.jpg);
      background-blend-mode: multiply;
      h1{
         font-weight: 600; font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif, Helvetica;
      }
      p{margin-top: 40px;}
   }
   .introExplan{
      padding: 200px 0; text-align: center; font-weight: 600;
   }
   .brandValue{
      height: fit-content; 
      display: flex; justify-content: center; 
      .circle{
         width: 100%; height: 320px;
         background-image: url(../src/img/brandValue.jpg);
         display: flex; flex-direction: column; align-items: center; justify-content: center;
         text-align: center; color: white; transition: 1s;
         text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
         >h1{font-size: 30px;}
         >p{font-size: 48px; margin-bottom: -20px; font-weight: 700;}
      }
      // brandValue 호버시 원으로 바뀌는 부분
      .circle.rounded {
         width: 320px; border-radius: 50%; border: 5px solid $mainColor;
         box-shadow: rgba(0, 0, 0, 0.2) 10px 15px 15px;
         background-position-x: 585px; color: $mainColor;
      }
   }
   // brandValue 호버시 보이게 되는 부분
   .valueDetail {
      opacity: 0; transition: 1.5s;
      text-align: center; padding-top: 50px;
      div{height: 0px; transition: 1.7s;}
    }
   .valueDetail.visible {
      width: 100%; display: flex; opacity: 1; flex-wrap: wrap;
      div{width: 50%; height: 350px; 
         display: flex; justify-content: center; align-items: center;

         font-size: 30px; color: white; letter-spacing: -2.5px; font-weight: bold;
         text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

         background-size: cover; filter: brightness(.6);
         &:nth-child(1){background-image: url(../src//img/brandValue1.jpg);}
         &:nth-child(2){background-image: url(../src//img/brandValue2.jpg);}
         &:nth-child(3){background-image: url(../src//img/brandValue3.jpg);}
         &:nth-child(4){background-image: url(../src//img/brandValue4.jpg);}
         &:hover{filter: brightness(1) ; transition: .3s ; 
         }
      }
   }
}


// ─────────────── routes 2 ─────────────── 2,3,5 비슷한 구조를 사용하고 있습니다.
#Story{margin-top: 150px;
   .inner{
      h1{text-align: center; letter-spacing: -1px; font-size: 50px !important; }
      .tabDiv{height: 150px; transition: .5s;}
   }
}


// ─────────────── routes 3 ───────────────
#Menu{margin-top: 150px;
   .inner{
      h1{text-align: center; letter-spacing: -1px; font-size: 50px !important;}
      .tabDiv{height: 150px; transition: .5s;}
   }
}



// ─────────────── routes 5 ───────────────
#Franchise{margin-top: 150px;
   .inner{
      h1{text-align: center; letter-spacing: -1px; font-size: 50px !important;}
      .tabDiv{height: 150px; transition: .5s;}
   }
}





#Footer{
   height: fit-content; background: white; padding: 50px 0;
   border-top: 1px solid rgba(114, 112, 112, 0.2);
   text-align: center; 
   .inner{
      display: flex; justify-content: space-between; padding: 0 20px;
      text-align: start; letter-spacing: -2px;
      .footerLeft{
         h1{font-size: 25px; margin-bottom: 20px; color: $mainColor;}
         p{font-size: 17px;
            &:nth-child(4){margin-bottom: 20px;}
         }
      }
      .footerRight{
         ul{font-size: 40px; 
            li{margin: 5px; display: flex; justify-content: center; 
               a{
                  svg{
                     &:hover{color: $mainColor; scale: 1.2; transition: .5s;}
                  }
                  .naver{font-size: 35px;}
               }
            }
         }
      }
   }
   >span{display: block; margin-top: 20px;
      letter-spacing: .5px; }
}